.Container {
  width: 100%;
  height: 100vh;
  background-color: rgba(55, 4, 55, 0.4);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 30px;
}

.Contain {
  margin-top: 30px;
}

.wrapper button {
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 40px;
  margin: 40px;
  cursor: pointer;
}
